modules = ["nodejs-20"]
run = "npm start"

[nix]
channel = "stable-24_05"
packages = ["ffmpeg", "python3"]

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3000
